body {
    margin: auto 80px;
  }
  
  .nav-link {
    color: black;
    font-size: 22px;
    margin: auto 5px;
  }
  
  .navbar-toggler-icon {
    filter: invert(100%);
  }
  
  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-link {
    position: relative;
    overflow: hidden;
  }
  
  .nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: black;
    transition: width 0.5s ease;
  }
  
  .nav-link:hover::before {
    width: 100%;
    color: black;
  }
  
  .nav-link:hover,
  .nav-link:visited,
  .nav-link:active {
    width: 100%;
    color: black;
  }
  
  .navbar {
    background-color: #ffffff;
  }
  
  .dropdown-menu {
    background-color: #ffffff;
  }
  .center-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .index-name {
    font-size: 32px;
    font-weight: bold;
    animation: slide-in-left 1s ease-out;
  }
  
  .title{
    font-size: 35px;
    margin-bottom: 10px;
    animation: slide-in-left 1.5s ease-out;
  }
  .project-title{
    font-size: 35px;
    margin-bottom: 10px;
    animation: slide-in-left 1.5s ease-out;
  }
  #about .text1{
    margin-top: 40px;
  }
  .text1 {
    font-size: 20px;
    animation: slide-in-left 2s ease-out;
  }
  
  .text2 {
    font-size: 20px;
    animation: slide-in-left 2.5s ease-out;
  }
  
  .text3 {
    font-size: 20px;
    animation: slide-in-left 3s ease-out;
  }
  .sign{
    color: #0d6efd;
  }
  
  .text1,
  .text2,
  .text3 {
    margin-left: auto;
    margin-right: auto;
    }
  
  .index-picture {
    width: 300px;
    height: 300px;
    filter: drop-shadow(0 0 15px rgb(195, 195, 195));
  }
  .about-text {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .container {
    padding-top: 100px;
    margin: 20vh auto;
  }
  #index{
    padding-top: 20vh;
  }

  
  @media (max-width: 991px) {
    .project-image {
      max-width: 100%;
      height: auto;
      margin-top: 30px;
    }
    .navbar-nav {
      margin: 0 auto;
      display: table;
      table-layout: fixed;
      float: none !important;
    }
    .index-picture {
      display: flex;
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
    }
    .center-content {
      height: 10vh;
    }
    body {
      margin: auto 40px;
    }
    #about {
      margin-top: 40vh;
    }
    #about .text1,
    .text2,
    .text3 {
      margin-bottom: 12vh;
    }
  }
  
  @media (max-width: 600px) {
    #index {
      margin-top: 10vh;
      padding-top: 0vh;
    }
    #about {
      margin-top: 25vh;
      padding-top: 5vh;
      margin-bottom: 0;
    }
    #projects {
        margin-top: 0vh;
        padding-top: 0vh;
        margin-bottom: 0;
        padding-bottom: 0;
      }
      #contact {
        margin-top: 0vh;
        padding-top: 0vh;
        margin-bottom: 0;
      }
    .project-image {
      margin-top: 0;
    }
    .navbar-nav {
      margin: 0 auto;
      display: table;
      table-layout: fixed;
      float: none !important;
    }
    .index-picture {
      max-width: 300px;
      max-height: 300px;
      filter: drop-shadow(0 0 15px rgb(195, 195, 195));
    }
    .center-content {
      height: 10vh;
    }
    body {
      margin: 5px 10px;
    }
    #index,
    .container {
      padding-top: 5vh;
    }
    .title {
      margin-bottom: 20px;
    }
    .project-title {
      margin-top: 10px;
      font-size: 25px;
    }
  }
  @media (max-width: 400px) {
    #about{
        padding-top: 30vh;
    }
    #about .text1,
    .text2,
    .text3 {
      padding-bottom: 20vh;
    }
    #about .text1{
        padding-top: 5vh;
    }
  }

  
  @keyframes slide-in-left {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .contact-form {
    max-width: 500px;
    margin: 0 auto;
  }

  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
  }

  .contact-form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }

  .contact-form button[type="submit"]:hover {
    background-color: #0069d9;
  }
  #contact a{
    color: black;
    text-decoration: none;
  }
  #contact a:visited{
    color: black;
    text-decoration: none;
  }
  #contact a:active{
    color: black;
    text-decoration: none;
  }
